In [1]:
# string is immutable data type
a='Hello world'
b="Hello World"
c='''Hello World'''#raw string like news report

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# + concatinate

In [2]:
a='Hello'
b='world'
print(a+b)

Helloworld

In [6]:
a='Hello world'
print(a*2)

Hello worldHello world

In [ ]:
a=

In [7]:
a='Hello world I am python'
print(a[0])
print(a[0:5])#string slicing
print(a[0:25:2])

H
Hello
HlowrdIa yhn

In [8]:
a='Hello world'
a[:]#show all character

'Hello world'

In [20]:
a='Hello world'
a[::-1]#opposite size /from last print

'dlrow olleH'

In [3]:
a='Hello world'
print(a*2)

Hello worldHello world

In [25]:
name='ram'
age=25
address='kathmandu'
info='Hello World I am '+ name + ', I am ' + str(age) + ' I am form ' + address
print(info)

Hello World I am ram, I am 25 I am form kathmandu

In [4]:
# string formatting
name='ram'
age=25
address='kathmandu'
info=f"Hello World \nI am {name}, I am {age}, I am form {address}"
print(info)

Hello World
I am ram, I am 25, I am form kathmandu

In [36]:
bill=str()
n=int(input('enter the number of Item :'))
grandTotal=0
for i in range(n):
    product=input('product name= ')
    price=int(input('enter price = '))
    quantity=int(input('enter quantity= '))
    total=price*quantity
    grandTotal=grandTotal+total
    bill=bill + f"{product} {price} {quantity} {total}\n"
print(bill)

enter the number of Item : 3
product name=  apple
enter price =  40
enter quantity=  1
product name=  orange
enter price =  50
enter quantity=  1
product name=  graph
enter price =  3
enter quantity=  10

apple 40 1 40
orange 50 1 50
graph 3 10 30

In [37]:
bill

'apple 40 1 40\norange 50 1 50\ngraph 3 10 30\n'

In [56]:
name=input('your name:').lower()
a='ram shyam hari sita gita ram'.lower()
if 'ram' in a:
    print('yes')
    print(a.count(name))
else:
    print('no')

your name: hari

yes
1

In [57]:
a='ram shyam hari sita gita ram'
print(a.upper())
print(a.lower())
print(a) #strings is immutable data type

RAM SHYAM HARI SITA GITA RAM
ram shyam hari sita gita ram
ram shyam hari sita gita ram

In [47]:
n=int(input('number of student have to Add'))
stname=[]
stnumber=[]
index=[]
for i in range(1,n+1):
    name=input('name of student:')
    number=int(input('number of student:'))
    stname+=[name]
    stnumber+=[str(number)]
    index+=[i]
print('sn.','Name:','Phone Number:\n')
for i in range(len(index)):
    print(index[i],end='  ')
    print(stname[i],end='   ')
    print(stnumber[i])

number of student have to Add 2
name of student: ert
number of student: 567
name of student: erty
number of student: 5678

sn. Name: Phone Number:

1  ert  567
2  erty  5678

In [54]:
n=int(input('number of student have to Add'))
stn=''
for i in range(1,n+1):
    name=input('name of student:')
    number=int(input('number of student:'))
    stn+=str(i)+'   '+name+'   '+str(number)+'\n'
print('sn.','Name:','Phone Number:\n')
print(stn)

number of student have to Add 2
name of student: wert
number of student: 567
name of student: rtyu
number of student: 456

sn. Name: Phone Number:

1   wert   567
2   rtyu   456

In [62]:
# replace() function have to 2 argument  
a='ram shyam hari sita gita ram'
a=a.replace('ram','ramesh')
a

'ramesh shyam hari sita gita ramesh'

In [63]:
# replace() function have to 2 argument  
a='ram shyam hari sita gita ram'
a=a.replace('ram','') #immutable 
a

' shyam hari sita gita '

In [64]:
a='ram shyam hari sita gita ram'
a.split()

['ram', 'shyam', 'hari', 'sita', 'gita', 'ram']

In [65]:
a='ram-shyam-hari-sita-gita-ram'
a.split('-')

['ram', 'shyam', 'hari', 'sita', 'gita', 'ram']

In [5]:
student=str()
n=int(input('total subject :'))
totalMark=int()
fullmark=int()
stud=input('student name= ')
subject=''
for i in range(n):
    subject+=' '+input('subject name= ')
    getmark=int(input('enter get mark = '))
    fullmark+=int(input('enter full mark = '))
    totalMark+=getmark
percentage=(totalMark/fullmark)*100
if percentage>=80:
    grade='A'
elif percentage>=60:
    grade='B'
elif percentage>=50:
    grade='C' 
else:
    grade='f' 
student=student + f"{stud} {subject} {totalMark} {percentage} {grade}\n"
print('student:','subject:','totalMark:   ',"percentage:",'grade:')
print(student)

total subject : 3
student name=  yy
subject name=  phy
enter get mark =  66
enter full mark =  100
subject name=  math
enter get mark =  99
enter full mark =  100
subject name=  nep
enter get mark =  88
enter full mark =  100

student: subject: totalMark:    percentage: grade:
yy  phy math nep 253 84.33333333333334 A