In [ ]:
# python collection
# list 
# tuple
# dictionary
# set

In [ ]:
# List
# -indexing 
# -multiple data and duplicate data
# -ordered
# -mutable

In [ ]:
b=[]
c=list()
a=['apple','ball','cat','fish']
d=['apple',1,2,3.5,4,5]
print(type(a),type(b),type(c))

<class 'list'> <class 'list'> <class 'list'>

In [7]:
# indexing support
a=['apple','ball','cat','fish']
print(a[2])
print(a[0:4])
print(a[0:4:2])

cat
['apple', 'ball', 'cat', 'fish']
['apple', 'cat']

In [8]:
# ordered-->
a=['apple','ball','cat','fish']
print(a)

['apple', 'ball', 'cat', 'fish']

In [10]:
a=['apple','ball','cat','fish']
d=['apple',1,2,3.5,4,5]
print(a+d)# concatinate two list

['apple', 'ball', 'cat', 'fish', 'apple', 1, 2, 3.5, 4, 5]

In [11]:
a=['apple','ball','cat','fish']#enlarge the value but we do not enlarge. list is for only data collection
print(a*2)

['apple', 'ball', 'cat', 'fish', 'apple', 'ball', 'cat', 'fish']

In [12]:
# list is for only data collection
a=[1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
l=[]
n=int(input('enter n='))
for i in range(n):
    x=int(input('enter x='))
    l+=[x]
print(l)

enter n= 4
enter x= 123
enter x= 12
enter x= 4
enter x= 667

[123, 12, 4, 667]

In [5]:
print("the max value is = ",max(l))
print("the min value is = ",min(l))
print("the sum is = ",sum(l))
print("the average is = ",sum(l)/len(l))
l.sort()
print(l)
l.reverse()
print(l)

the max value is =  4
the min value is =  1
the sum is =  10
the average is =  2.5
[1, 2, 3, 4]
[4, 3, 2, 1]

In [27]:
a=['zebra','aPPle','ball','mango','cat','dog']
a.sort()
print(a)

['aPPle', 'ball', 'cat', 'dog', 'mango', 'zebra']

In [28]:
a[0].lower() #code run from left to right

'apple'

In [30]:
a=['zebra','aPPle','ball','mango','cat','dog']
for i in a:
    print(i)
len(a)

zebra
aPPle
ball
mango
cat
dog

6

In [31]:
# len() is use for list:element string:character set:value  
# dictionary:key:value it count the element
a=['zebra','aPPle','ball','mango','cat','dog']
for i in range(len(a)):
    print(a[i])
len(a)

zebra
aPPle
ball
mango
cat
dog

6

In [35]:
a=['zebra','aPPle','ball','mango','cat','dog','dog']
if 'cat' in a:
    print('yes')
    print(a.count('dog'))

yes
2

In [37]:
# append() insert() extend()
# append():add in the list at last

a=['zebra','aPPle','ball','mango','cat','dog','dog']
a.append('fish')#one time add one element
a

['zebra', 'aPPle', 'ball', 'mango', 'cat', 'dog', 'dog', 'fish']

In [39]:
# insert():put where is want
a=['zebra','aPPle','ball','mango','cat','dog','dog']
a.insert(1,'fish')#o
a

['zebra', 'fish', 'aPPle', 'ball', 'mango', 'cat', 'dog', 'dog']

In [40]:
# extend():add multiple value
a=['zebra','aPPle','ball','mango','cat','dog','dog']
b=[1,2,3,4]
a.extend(b)
a

['zebra', 'aPPle', 'ball', 'mango', 'cat', 'dog', 'dog', 1, 2, 3, 4]

In [41]:
a='apple'
b=list(a)#list function convert into list
b

['a', 'p', 'p', 'l', 'e']

In [42]:
c=str(b)# but str function convert whole list into string
c

"['a', 'p', 'p', 'l', 'e']"

In [43]:
l=[]
n=int(input('enter n='))
for i in range(n):
    x=int(input('enter x='))
    l.append(x)
print(l)

enter n= 3
enter x= 2
enter x= 6
enter x= 8

[2, 6, 8]

In [47]:
# update or edit list

a=['apple','ball','cat','dog']
a[0]="ant"
a

['ant', 'ball', 'cat', 'dog']

In [2]:
a=['apple','ball','cat','dog']
a[0]=a[0].upper()
a

['APPLE', 'ball', 'cat', 'dog']

In [49]:
# del remove() pop()
a=['apple','ball','cat','dog']
del a[0]
a

['ball', 'cat', 'dog']

In [50]:
# del remove() pop()
a=['apple','ball','cat','dog']
del a[0:2]
a

['cat', 'dog']

In [52]:
# del remove() pop()
# pop() it move the list to other list
a=['apple','ball','cat','dog']
b=a.pop(0)#index 
print(a)
print(b)

['ball', 'cat', 'dog']
apple

In [53]:
a=['apple','ball','cat','dog']
b=a.pop() #It move last element from list without index
print(a)
print(b)

['apple', 'ball', 'cat']
dog

In [58]:
a=['apple','ball','cat','dog','ball']
a.remove('ball')
a

['apple', 'cat', 'dog', 'ball']

In [9]:
# write a program to calculate index of any value
rem_word=input('enter remove word')
a=['apple','ball','cat','dog','ball']
for i in range(1,len(a)):
    if rem_word==a[i]:
        print('index at',i)

enter remove word cat

index at 2

In [2]:
# write a program to remove multiple value
rem_word=input('enter remove word:')
a=['ball','cat','dog','ball','apple']
for i in a:
    if rem_word==i: 
        a.remove(rem_word)
print(a)

enter remove word apple

['ball', 'cat', 'dog', 'ball']

In [1]:
# write a program to remove multiple value

a=['ball','cat','dog','ball','apple']
rem_word=input('enter remove word')
l=a.count(rem_word)
for i in range(l):
    a.remove(rem_word)
print(a)

enter remove word ball

['cat', 'dog', 'apple']

In [34]:
rem_word=input('enter remove word').lower()
a=['Ball','cat','dog','ball','apple']
for i in a:
    if i.lower()==rem_word: 
        a.remove(i)
print(a)

enter remove word ball

['cat', 'dog', 'apple']

In [28]:
a=['Ball','cat','dog','ball','apple']
a.remove('cat')
a

['Ball', 'dog', 'ball', 'apple']

In [29]:
# List inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(type(a))
print(a)
print(len(a))

<class 'list'>
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [30]:
print(a[2])

[7, 8, 9]

In [31]:
print(a[0][0])

1

In [39]:
a=[['ram',45,'kathmandu'],
   ['hari',35,'dhanusha'],
   ['shiv',55,'kalash']]
a

[['ram', 45, 'kathmandu'], ['hari', 35, 'dhanusha'], ['shiv', 55, 'kalash']]

In [41]:
a[1][1]

35

In [47]:
l=[]
n=int(input('enter n= '))
for i in range(n):
    name=input('enter name')
    age=input('enter age')
    add=input('enter address')
    l.append([name,age,add])
l

enter n=  1
enter name hari
enter age 88
enter address kathmandu

[['hari', '88', 'kathmandu']]

In [48]:
l.append(['brahma',1000,'dhanusha'])
l

[['hari', '88', 'kathmandu'], ['brahma', 1000, 'dhanusha']]

In [52]:
a=[['ram',45,'kathmandu'],
   ['hari',35,'dhanusha'],
   ['shiv',55,'kalash']]
name=input('enter name= ')
for i in a:
    if name in i: #use for search in the list
        print(i)

enter name=  shiv

['shiv', 55, 'kalash']

In [53]:
a=[['ram',45,'kathmandu'],
   ['hari',15,'dhanusha'],
   ['shiv',55,'kalash']]
for i in a:
    if i[1]>20: #use for search in the list
        print(i)

['ram', 45, 'kathmandu']
['shiv', 55, 'kalash']

In [56]:
# update method
a=[['ram',45,'kathmandu'],
   ['hari',15,'dhanusha'],
   ['shiv',55,'kalash']]
a[0][0]='shyam'
a

[['shyam', 45, 'kathmandu'], ['hari', 15, 'dhanusha'], ['shiv', 55, 'kalash']]

In [58]:
# delete method
a=[['ram',45,'kathmandu'],
   ['hari',15,'dhanusha'],
   ['shiv',55,'kalash']]
del a[0]
a

[['hari', 15, 'dhanusha'], ['shiv', 55, 'kalash']]

In [16]:
# write a program to convert give string to list inside list
# a= 'apple 200 2 400'\n'banana 100 3 300'\n
# a =[['apple',200,2,400],['banana',100,3,300]]
n=int(input('number of product'))
a=[]
for i in range(n):
    b=[]
    product=input('product name: ')
    price=int(input('price :'))
    quantity=int(input('item : '))
    total_price=price*quantity
    b+=[product,price,quantity,total_price]
    a.insert(i,b)
print(a)

number of product 2
product name:  tyu
price : 2
item :  2
product name:  ww2
price : 2
item :  2

[['tyu', 2, 2, 4], ['ww2', 2, 2, 4]]

In [ ]:
# write a program to create a matrix taking row and col from user
# row->?
# column->?
# x=>input
# r*c matrix
# [['ram',45,'kathmandu'],
#    ['hari',15,'dhanusha'],
#    ['shiv',55,'kalash']]
# r->3
# c->3

In [ ]:
a=[]
for i in range(3):#Column
    K=[]
    for j in range(3):#Row
        k=input('enter number')
        k+=[k]
    
    print()
print

In [1]:
a=[]
for i in range(3):
    for j in range(3):
        a[j]=input('enter')
    print()
print(a)

KeyboardInterrupt: Interrupted by user

In [24]:
a='apple 200 2 400\nbanana 100 3 300\n'
b=a.split('\n')[0:-1]
print(b)
result=[]
for i in b:
    x=i.split()
#     price=int(x[1])
#     qty=int(x[2])
#     total=int(x[2])
    
#     x[1]=price
#     x[2]=qty
#     x[3]=total
    
    x[1]=int(x[1])
    x[2]=int(x[2])
    x[3]=int(x[2])
    result.append(x)
result

['apple 200 2 400', 'banana 100 3 300']

[['apple', 200, 2, 2], ['banana', 100, 3, 3]]

In [30]:
matrix=[]
r=int(input('enter row'))
c=int(input('enter column'))
for i in range(r):
    y=[]
    for j in range(c):
        x=int(input(f"enter value row={i} col={j}"))#f is required for formatting 
        y.append(x)
    matrix.append(y)
print(matrix)

enter row 2
enter column 2
enter value row=0 col=0 2
enter value row=0 col=1 2
enter value row=1 col=0 2
enter value row=1 col=1 2

[[2, 2], [2, 2]]

In [36]:
subject=['physics','chemistry','math','english']
c=len(subject)
matrix=[]
r=int(input('enter row'))
# c=int(input('enter column'))
for i in range(r):
    y=[]
    total=0
    for j in range(c):
        x=int(input(f"enter mark roll={i} subject={subject[j]} ==>"))#f is required for formatting 
        total+=x
        y.append(x)
    y.append(total)
    matrix.append(y)
print(matrix)

enter row 2
enter mark roll=0 subject=physics ==> 2
enter mark roll=0 subject=chemistry ==> 2
enter mark roll=0 subject=math ==> 2
enter mark roll=0 subject=english ==> 2
enter mark roll=1 subject=physics ==> 2
enter mark roll=1 subject=chemistry ==> 2
enter mark roll=1 subject=math ==> 2
enter mark roll=1 subject=english ==> 2

[[2, 2, 2, 2, 8], [2, 2, 2, 2, 8]]

In [39]:
for i in range(3):
    for j in range(3):
        print('hello',end=' ')
    print()

hello hello hello
hello hello hello
hello hello hello