In [ ]:
# tuple
-Indexing
-Ordering
-Multiple and duplicate values
-Imutable

In [1]:
a=tuple()
a=('apple','ball','cat','dog')
a

('apple', 'ball', 'cat', 'dog')

In [7]:
a=(1,2,3)
b=(1)
c=(1,)
d=('apple',)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [10]:
a=('apple','ball','cat','dog','apple')
print(a)
print(a[0])
print(a[0:3])
print(a[0:3:2])

('apple', 'ball', 'cat', 'dog', 'apple')
apple
('apple', 'ball', 'cat')
('apple', 'cat')

# imutable
# no append() insert() extend()
# no update
# no delete pop() remove()
# no sort()

# we can
# sum() max() min()
# index()
# read
# create
# search

In [13]:
a=(1,2,3,4)
b=(5,6,7,9)
print(a*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
a+b # without concatenation can not add

(1, 2, 3, 4, 5, 6, 7, 9)

In [15]:
# how to create tuple
l=()
n=int(input('enter n='))
for i in range(n):
    x=int(input('enter x='))
    l+=(x,)
print(l)

enter n= 2
enter x= 3
enter x= 3

(3, 3)

In [16]:
print("the max value is = ",max(l))
print("the min value is = ",min(l))
print("the sum is = ",sum(l))
print("the average is = ",sum(l)/len(l))

the max value is =  3
the min value is =  3
the sum is =  6
the average is =  3.0

In [17]:
a=('apple','ball','cat','dog','apple')
a.index('ball')

1

In [18]:
if 'apple' in a:
    print('yes')

yes

In [29]:
#converting tupple into list
a=('apple','ball','cat','dog','apple')
b=list(a)
b

['apple', 'ball', 'cat', 'dog', 'apple']

In [30]:
del b[0]
b

['ball', 'cat', 'dog', 'apple']

In [31]:
a=tuple(b)
a

('ball', 'cat', 'dog', 'apple')

In [37]:
a=('apple','ball','cat','dog','apple')
b=list(a)
b.remove('ball')
a=tuple(b)
a

('apple', 'cat', 'dog', 'apple')

In [40]:
d={('bibhuti','hari'): ('98765','112345'), 'akash': '98765432'}
d
d['bibhuti','hari']

('98765', '112345')

In [41]:
t=(('ram',45,'kathmandu'),
   ('hari',35,'dhanusha'),
   ('shiv',55,'kalash'))
t

(('ram', 45, 'kathmandu'), ('hari', 35, 'dhanusha'), ('shiv', 55, 'kalash'))

In [59]:
# tuple inside tuple
a=() #dict inside dict
n=int(input('enter n'))
for i in range(1,n+1):
    name=input('name = ')    
    age=input('age= ')
    add=input('address= ')
    # a=a+((name,age,add),)
    x=(name,age,add)
    a=a+(x,)
    
    #info[i] key = data value
print(a)

enter n 1
name =  wertyu
age=  45678
address=  ertyu

(('wertyu', '45678', 'ertyu'),)

In [1]:
quicksort([15, 10]) + [33] + quicksort([])

NameError: name 'quicksort' is not defined