In [6]:
# file =open('<file_name>','<mode>')
# file.open()
# with open('<file_name>','<mode>') as file:
#     <operation>

In [1]:
# mode
# read->'r'#read only 
# write->'w'#create and write once time 
# create->'x'#create only 
# append->'a'#create,write and append

In [ ]:
try:
    file=open('filehandlingfolder/file.txt','x')
    file.close()
except:
    print('The file is already exits!')

The file is already exits!

In [ ]:
# for i in range(1,10):
#     print(i,'Hello World ')

In [ ]:
file=open('filehandlingfolder/file.txt','r')
x=file.read()
print(x)
file.close()

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [ ]:
type(x)

str

In [ ]:
# read--->split---> store in list ---> for read line by line
data=x.split('\n')[:-1]#remove last element
data

['1 Hello World ',
 '2 Hello World ',
 '3 Hello World ',
 '4 Hello World ',
 '5 Hello World ']

In [ ]:
n=int(input('enter line no ='))
data[n-1]

enter line no = 4

'4 Hello World '

In [ ]:
# mode-w
# if there is no hello.txt then first it create hello.txt file then write in the file
# if there is file then it over write in the file 
file=open('filehandlingfolder/hello.txt','w')
x=file.write('Hello World')
file.close()

In [ ]:
bill = str()
grand_total = 0
n = int(input("Enter of item = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{product} {price} {quantity} {grand_total}\n"
print(bill)
file=open('filehandlingfolder/bill.txt','w')
file.write(bill)
file.close()

apple  33 33 1089
ball 33 22 1815

In [ ]:
file=open('filehandlingfolder/bill.txt','r')
x=file.read()
print(x)
file.close()

apple  33 33 1089
ball 33 22 1815

In [ ]:
l=[]
a=x.split('\n')[:-1]
for i in a:
    l.append(i.split())
l

[['apple', '33', '44', '1452'],
 ['banana', '8', '5', '40'],
 ['mango', '22', '99', '2178']]

In [ ]:
b=x.split('\n')[0:-1]
print(b)
result=[]
for i in b:
    y=i.split()
    
    y[1]=int(y[1])
    y[2]=int(y[2])
    y[3]=int(y[3])
    result.append(y)
result

['apple  33 44 1452', 'banana 8 5 40', 'mango 22 99 2178']

[['apple', 33, 44, 1452], ['banana', 8, 5, 40], ['mango', 22, 99, 2178]]

In [ ]:
file=open('filehandlingfolder/bill.csv','w')
bill = str()
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{product},{price},{quantity},{total}\n"
print(bill)
file.write('Product,Price,Quantity,Total\n')#heading of the csv file 
file.write(bill)#value of the csv file 
file.close()

Enter n =  2
Enter name =  mango
Enter price =  88
Enter quantity =  44
Enter name =  apple
Enter price =  66
Enter quantity =  77
mango,88,44,3872
apple,66,77,5082

In [ ]:
pwd #show of the csv file

'C:\\Users\\Dell\\Desktop\\broadwayclass'

In [ ]:
pwd

'C:\\Users\\Dell\\Desktop\\broadwayclass'

In [19]:
import pandas as pd
df=pd.read_csv('filehandlingfolder/data1.csv')
df

           sn    name   age    address         phone
0           1     ram  23.0  kathmandu  9.876543e+09
1           2  shayam  25.0  bhaktapur  9.876543e+09
2           3   sabin  34.0  latitapur  9.876546e+09
3  \t\t\t\t\t     NaN   NaN        NaN           NaN

In [ ]:
file=open('filehandlingfolder/new_bill.csv','a')
file.write('Product,Price,Quantity,Total\n')

29

In [ ]:
bill = str()
grand_total = 0
n = int(input("number of item = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{product},{price},{quantity},{grand_total}\n"
file.write(bill)

number of item =  1
Enter name =  dog
Enter price =  4
Enter quantity =  4

11

In [ ]:
file.close()

In [8]:
import pandas as pd
df=pd.read_csv('filehandlingfolder/new_bill.csv')
df

   Product  Price  Quantity  Total
0    apple     33        44   1452
1     ball     33        44   1452
2      cat     77        88   6776
3  Product  Price  Quantity  Total
4     coke      2         2      4
5      dog      4         4     16